<select id="databases" class="selectbtn" (change)="getDataSourceTables($event)">
  <option class="btn btn-info">Select</option>
  <option *ngFor='let datasource of dataSources' class="btn btn-info"
  style="margin: 10px;"
  value="{{datasource.dataSourceName}}">{{datasource.dataSourceName}}</option>
</select>

<div class="row">
  
  <div class="col-md-4" style="margin-top: 10px;">
    <div class="form-group">
      <label for="dataSourceName">Datasource Name</label>
      <input
        type="text"
        class="form-control"
        id="dataSourceName"
        [(ngModel)]='model.dataSourceName'
        placeholder="DATASOURCE NAME"
      />
    </div>
      <div class="form-group">
        <label for="url">URL</label>
        <input
          type="text"
          class="form-control"
          id="url"
          [(ngModel)]='model.url'
          placeholder="URL"
        />
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="USERNAME"
          [(ngModel)]='model.username'
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="text"
          class="form-control"
          id="password"
          [(ngModel)]='model.password'
          placeholder="PASSWORD"
        />
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <input
          type="text"
          class="form-control"
          id="type"
          [(ngModel)]='model.type'
          placeholder="TYPE"
        />
      </div>
      <button type="submit" class="btn btn-primary" style="float: right; margin-left: 15px;" (click)="testConnection()">Test Connection!</button>
      <button type="reset" class="btn btn-primary" style="float: right;" (click)='reset()'>Reset</button>
      <div>
        <button *ngFor='let table of tableList' class="btn btn-info"
        style="margin: 10px;"
        (click)="getTableDetails(table.table_name)">{{table.table_name}}</button>
      </div>
  </div>
  <div class="col-md-4">
    <!-- <div *ngFor='let column of columnList'>
      <button class="btn btn-info btn-sm"
        style="margin: 10px;">{{column.column_name}}</button>
      <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" unchecked></div>
    </div> -->
    <button class="btn btn-primary" *ngIf="table_name" style="margin-top: 10px; margin-bottom: 10px">{{table_name}}</button>
    <p *ngFor='let column of columnList'>
      <input  type="checkbox" [value]="column.column_name"
            (click)="getColumnName($event)" > {{column.column_name}}
    </p>
  </div>
  <div class="col-md-4" *ngIf="column_name" style="margin-top: 10px;">
    <input
          type="text"
          class="form-control"
          id="column_name"
          [(ngModel)]='column_name'
          placeholder="Column name"
        />
    <button class="btn btn-primary btn-sm" (click)="changeColumnName()" style="margin-top: 10px;">change</button>
  </div>
</div>
